### Backend compiled output ###
/backend/target/
/backend/.idea
/backend/.project
/backend/.classpath
/backend/.c9/
/backend/.launch
/backend/.settings/
/backend/!.mvn/wrapper/maven-wrapper.jar

### Backend IDE ###
/backend/.apt_generated
/backend/.classpath
/backend/.factorypath
/backend/.project
/backend/.settings
/backend/.springBeans
/backend/.sts4-cache

### Frontend compiled output ###
/frontend/dist
/frontend/tmp
/frontend/out-tsc

### Frontend dependencies ###
/frontend/node_modules

### Frontend IDE ###
/frontend/.vscode/*
/frontend/!.vscode/settings.json
/frontend/!.vscode/tasks.json
/frontend/!.vscode/launch.json
/frontend/!.vscode/extensions.json
/frontend/.history/*

### Frontend IDE ###
/frontend/.sass-cache
/frontend/connect.lock
/frontend/coverage
/frontend/libpeerconnection.log
/frontend/npm-debug.log
/frontend/yarn-error.log
/frontend/testem.log
/frontend/typings

### System files ###
/frontend/.DS_Store
/frontend/Thumbs.db

